@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&family=Orbitron:wght@400;500&family=Poppins:wght@300;400;500;600;700;800;900&family=Tektur:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lumanosimo", cursive;
}

body {
  display: flex;
  position: relative;
  top: 200px;
  right: 300px;
  justify-content: center;
}

.btn-container {
  position: relative;
  bottom: 150px;
  left: 585px;
}

.btn-container button {
  border: 2px solid black;
  font-size: 18px;
  height: 40px;
  width: 130px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-container button:hover {
  border: none;
  background: yellow;
}
